@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    height: 100%;
    font-family: 'VT323', monospace;
    margin: 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
}


/* HJEMSIDE*/
h1 {
    text-align: center;
    color: white;
}

h3{
    margin-top: 2rem;
}

.container {
    padding: 2rem;
    height: 100vh;
    position: relative;
}

/* start spill knapp */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button{
    font-family: inherit;
    font-size: inherit;
}

input{
    border: 2px solid #222;
    border-radius: 4px;
}

.button {
    font-size: 1.4rem;
    background-color: rgba(199, 199, 199, 0.315); 
    border: 3px solid white;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
}

/*instruksjoner*/
.div2 {
    padding: 50px;
    column-width: 100%;
    margin: 25px;
    float: center;
    font-family: monaco, monospace;
}


.tekstboks2 {
    border: 3px dashed maroon;
    float: left;
    width: 90%;
    margin: 5px;
    height: auto;
}

h4 {
    font-family: monaco, monospace;
    font-weight:bolder;
    margin: 15px;
    font-size: 32px;
    text-align: left;
    color: forestgreen;
}

#two {
    text-align: left;
    font-family: monaco, monospace;
    font: 15px;
    margin: 15px;
}

/* om spillet*/
.div1 {
    padding: 50px;
    column-width: 100%;
    margin: 25px;
    float: center;
    font-family: monaco, monospace;
}

.tekstboks {
    border: 3px dashed maroon;
    float: left;
    width: 30%;
    margin: 10px;
    height: 400px;
}



/* hjem */

* {
    box-sizing: border-box;
    margin: 0;
}

.tab {
    float: right;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.tab button {
    display: block;
    color: black;
}


.buttonlink1 {
    height: 70px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 180px 2px 0px;
    cursor: pointer;
}

.buttonlink2 {
    height: 70px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px 215px;
    cursor: pointer;
}



/*highscore*/

.highscores {
    margin-top: 1rem;
}

.highscore-container{
    color: white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    bottom: 0;
    left: 0;
    padding:1rem;
    border-radius: 0 1rem 0 0;
    background-color: #7b7c7b86;
    max-width: 12rem;
    height: min-content;
}

.highscore-container button {
    color: inherit;
    margin-top: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
}

.score-container{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}





/* Instruksjoner og om oss*/



.leftcorner {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /*-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

.buttontilbake {
    background-color: rgba(255, 0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .instruksjoncontainer {
    height: auto;
    width: 900px;
    position: relative;
    margin: auto;
    border: 1px solid lightgray;
    text-align: center;
  }




  /*spill side*/

  .buttonspill {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

 
  .leftuppercorner {
    margin: 0;
    position: absolute;
    top: 0%;
    left: 0%
  }

  .rightuppercorner {
    margin: 0;
    position: absolute;
    top: 0%;
    right: 0%;
  }

  .divpoeng {
    background-color: grey; 
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 100px;
  }


  .timerplassering {
    margin: 0;
    position: absolute;
    top: 0;
    width: 70;
    left: 15%;
    right: 15%;
  }


  .timer {
    background-color: darkslategray;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 16px;
  }

.spill-knapp{
    border:none;
    width: 2rem;
    height: 2rem;
    cursor:pointer;
    outline:none;
}



