/* html, body {
    height: 100%;
    font-family: Monaco, monospace;
}


/* HJEMSIDE*/
h1 {
    text-align: center;
}

.container {
    height: 500px;
    position: relative;
}

/* start spill knapp */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    background-color: #CC7722; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }



/* hjem */

* {box-sizing: border-box}


.tab {
    float: right;
    width: 20%;
    height: 500px;
}

.tab button {
    display: block;
    color: black;

}


.buttonlink1 {
    background-color: maroon;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 180px 2px 0px;
    cursor: pointer;
}

.buttonlink2 {
    background-color: maroon;
    border: none;
    color: white;
    padding: 20px 57px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px 215px;
    cursor: pointer;
}



/*highscore*/

.tab2 {
    float: left;
    width: 20%;
    height: 400px;
    background-color: #00301E;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}



/* Instruksjoner og om oss*/



.leftcorner {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    /*-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

.buttontilbake {
    background-color: #CC7722; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .instruksjoncontainer {
    height: auto;
    width: 900px;
    position: relative;
    margin: auto;
    border: 1px solid lightgray;
    text-align: center;
  }



